input[type=speech] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	border:none;
	font-size:20px;
	width:20px;
	color:transparent;
}
input[type=speech]:focus {
	outline:none;
}